<h1>Create a new tweet</h1>

<link rel="stylesheet" href="style.css">
<!-- ADD -->
<%= render "form", tweet: @tweet %>
<!-- ADD -->

<!-- REMOVE -->
 <%= form_with(model: @tweet, local: true) do |form| %>

  <div>

  </div>
<% end %>
<!-- REMOVE -->
